<!-- 
  Definimos la vista de una sola noticia con el componente ion-card
 -->
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>{{noticia.source.name}}</ion-card-subtitle>
    <ion-card-title>{{noticia.title}}</ion-card-title>
  </ion-card-header>
  <ion-img *ngIf="noticia.urlToImage" [src]="noticia.urlToImage"></ion-img>
  <ion-card-content>
    <p>
      {{noticia.description}}
    </p>   
  </ion-card-content>
  <ion-item>
    <ion-icon slot="end" name="trash-outline" (click)="onClick()"></ion-icon>
    <ion-label><a [href]="noticia.url">Leer</a></ion-label>
  </ion-item>
</ion-card>
