<ion-header>
  <ion-toolbar>
    <ion-title>
      Mis noticias
    </ion-title>
  </ion-toolbar>

  <!-- 
    Creamos y configuramos el coponente ion-segment
    Trabajará con los valores del array categorías
    Cuando cambie de valor se llamará al método cambiarCategoria y se le pasará el evento
   -->
  <ion-segment scrollable [value]="categorias[0]" (ionChange)="cambiarCategoria($event)">
    <ion-segment-button [value]="categoria" *ngFor="let categoria of categorias">
      <ion-label>{{categoria}}</ion-label>  
    </ion-segment-button>
  </ion-segment>
</ion-header>

<!-- 
  Mostramos la lista de noticias que se han guardado en el array listaNoticias
 -->
<ion-content>
  <ion-list *ngFor="let item of listaNoticias">
    <ion-item>
      <ion-checkbox [checked]="buscar(item)" color="primary" slot="start" (ionChange)="check($event, item)"></ion-checkbox>
      <ion-label color="primary" class="ion-text-wrap">
        <h3>{{ item.source.name}} </h3>
        <p> {{ item.title}} </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
